extends layout

block content
    h1 PS4: thrid-party API call
    li city: #{json.timezone}
    li latitude: #{json.latitude}
    li longitude: #{json.longitude}
    li today's weather: #{json.currently}
    li today's weather in minutes: #{json.minutelySum}
    li today's weather in hours: #{json.hourlySum}
    li today's weather in days: #{json.dailySum}
    li flags: #{json.flags}
